[Unit]
Description={NAME}
After=network.target

[Service]
ExecStart={CMDLINE} > /var/log/{NAME}.log 2>&1
WorkingDirectory={SRC_DIR}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target