[Unit]
Description={NAME}
After=network.target

[Service]
ExecStart={CMDLINE}
WorkingDirectory={SRC_DIR}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={USER}

[Install]
WantedBy=multi-user.target
